<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title -- 帮助中心</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Resource/GreenSoybeanJs/greensoybean.css")" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Resource/GreenSoybeanJs/jquery.min.js")"></script>
    @RenderSection("header", false)
</head>
<body>
    <div class="gsb-wrapper">        
        @RenderBody()
    </div>
    @RenderSection("script", false)
</body>
</html>